/* Outdated CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    position: flex;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.navigation {
    width: 10%;
    background-color:#42526E;
}

.navlist {
    position: sticky;
    top: 0;
    margin-top: 10px;
}

li {
    padding: 5px;
    color: black;
}

.header {
    background-color: #6288a6;
    border-bottom: solid white;
    color: white;
}

.sinks2024 {
    background-color: #6288a6;
    padding: 4px;
    color: white;
}


h2 {
    font-size:xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #152238;
}

img {
    border: 3px solid #6288a6;
    width: 1320px;
    height: 800px;
}

.last {
    padding: 0;
}

